@define-color white      #F2F2F2;
@define-color black      #000203;
@define-color text       #BECBCB;
@define-color lightgray  #686868;
@define-color darkgray   #353535;
@define-color red        #F38BA8;

@define-color black-transparent-1 rgba(0, 0, 0, 0.1);
@define-color black-transparent-2 rgba(0, 0, 0, 0.2);
@define-color black-transparent-3 rgba(0, 0, 0, 0.3);
@define-color black-transparent-4 rgba(0, 0, 0, 0.4);
@define-color black-transparent-5 rgba(0, 0, 0, 0.5);
@define-color black-transparent-6 rgba(0, 0, 0, 0.6);
@define-color black-transparent-7 rgba(0, 0, 0, 0.7);
@define-color black-transparent-8 rgba(0, 0, 0, 0.8);
@define-color black-transparent-9 rgba(0, 0, 0, 0.9);
@define-color black-solid         rgba(0, 0, 0, 1.0);

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: @black-solid;
    color: @text;
}

tooltip {
    background: @black-transparent-9;
    border: 1px solid @darkgray;
    border-radius: 10px;
}

tooltip label {
    color: @text;
}

#workspaces {
    /* border: 1px solid #10171b; */
    /* border-radius: 20px; */
    margin-top: 0;
    margin-bottom: 0;
    /* margin-left: 1px; */
    margin-right: 5px;
}

#workspaces button {
    background-color: transparent;
    color: @text;
    /* border: 1px solid @darkgray; */
    padding: 1px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: transparent;
    border: 1px solid @lightgray;
    color: @white;
    min-width: 30px;
    transition: all 0.3s ease;
}

#workspaces button.focused,
#workspaces button.active {
    /* background-color: @darkgray; */
    border: 1px solid @lightgray;
    color: @white;
    min-width: 30px;
    transition: all 0.3s ease;
    animation: colored-gradient 10s ease infinite;
}

#workspaces button.urgent {
    background-color: @red;
    color: @black;
    transition: all 0.3s ease;
}

#taskbar {
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 1px;
    margin-right: 1px;
}

#taskbar button {
    color: @text;
    padding: 1px 8px;
    margin-left: 1px;
    margin-right: 1px;
}

#taskbar button:hover {
    background: transparent;
    border: 1px solid @darkgray;
    border-radius: 8px;
    transition: all 0.3s ease;
    animation: colored-gradient 10s ease infinite;
}

#taskbar button.active {
    border: 1px solid @darkgray;
    border-radius: 8px;
    transition: all 0.3s ease;
    animation: colored-gradient 10s ease infinite;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#keyboard-state,
#mpd {
    background-color: transparent;
    color: @black;
    padding: 1px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    /* border: 1px solid @darkgray; */
    border-radius: 15px;
    transition: all 0.3s ease;
}

#submap {
    border: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces button,
.modules-left > widget:first-child > #taskbar button,
.modules-left > widget:first-child > #window,
.modules-left > widget:first-child > #clock,
.modules-left > widget:first-child > #battery,
.modules-left > widget:first-child > #cpu,
.modules-left > widget:first-child > #memory,
.modules-left > widget:first-child > #disk,
.modules-left > widget:first-child > #temperature,
.modules-left > widget:first-child > #backlight,
.modules-left > widget:first-child > #network,
.modules-left > widget:first-child > #pulseaudio.audio,
.modules-left > widget:first-child > #pulseaudio.microphone,
.modules-left > widget:first-child > #wireplumber,
.modules-left > widget:first-child > #custom-media,
.modules-left > widget:first-child > #tray,
.modules-left > widget:first-child > #mode,
.modules-left > widget:first-child > #idle_inhibitor,
.modules-left > widget:first-child > #scratchpad,
.modules-left > widget:first-child > #keyboard-state,
.modules-left > widget:first-child > #mpd {
    margin-left: 5px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:first-child > #workspaces button,
.modules-right > widget:first-child > #taskbar button,
.modules-right > widget:first-child > #window,
.modules-right > widget:first-child > #clock,
.modules-right > widget:first-child > #battery,
.modules-right > widget:first-child > #cpu,
.modules-right > widget:first-child > #memory,
.modules-right > widget:first-child > #disk,
.modules-right > widget:first-child > #temperature,
.modules-right > widget:first-child > #backlight,
.modules-right > widget:first-child > #network,
.modules-right > widget:first-child > #pulseaudio.audio,
.modules-right > widget:first-child > #pulseaudio.microphone,
.modules-right > widget:first-child > #wireplumber,
.modules-right > widget:first-child > #custom-media,
.modules-right > widget:first-child > #tray,
.modules-right > widget:first-child > #mode,
.modules-right > widget:first-child > #idle_inhibitor,
.modules-right > widget:first-child > #scratchpad,
.modules-right > widget:first-child > #keyboard-state,
.modules-right > widget:first-child > #mpd {
    margin-right: 5px;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: @lightgray;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}
